.pageTitle {
  display: flex;
  font-family: MontSerrat,Tahoma,Arial,sans-serif;
  font-size: 3rem;
  color: #cacaca;
}

#projects-container {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}

.img {
  max-width: 60%;
}

.title {
  color: #cacaca;
}

#Pipelette-image {
  max-width: 100%;
}